.myHeader {
    /* width: 100px;
    height: 30px; */
    height: 50px;
    color: aquamarine;
    background-color: aquamarine;
    background-image: url(/alnilam.jpg);
}

.myNav {
    background-color: rgba(5, 1, 1, 0.361);
    height: 20px;

}

.myArticle {

    background-color: bisque;
    height: 50px;
}

.myAside {
    background-color: blueviolet;
    height: 50px;
}

/* .myNav li {
    float: left;
    padding: 100%/5;
} */